body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}
/* Styles for navbar section */
.main-header{
    width: 100%;
    box-sizing: border-box;
}
.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
  margin-left: -100px;
  border-radius: 100px;
  font-weight: 900;
  color: purple;
}
.navbar-nav .nav-item {
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: large;
  font-weight: 600;
}
.navbar-nav .nav-item:hover {
  background-color: #e2e6ea; 
  border-radius: 5px;
}
.navbar-nav .nav-item:hover .nav-link {
  color: blueviolet; 
}

.navbar-nav .nav-item.active .nav-link {
  color: purple;
  font-weight: bold;
}

/* First section */
.section{
    max-width:100%;
    margin-bottom: 20px;
    padding: 0 2vw; /* Adjust as needed */
    margin-top: 150px;
    box-sizing: border-box;
    text-align: center;
}
.hero-banner{
    background: linear-gradient(rgba(37, 2, 46, 0.65), rgba(255, 0, 102, 0.65)),
    url(/assets/background.jpg) center/cover no-repeat;
    border-radius: 10px;
    padding: 170px 50px;
    text-align: center;
    color:white;
}
.hero-banner h1 {
  font-size: 2.5rem;
  font-weight: 800;
}
.hero-banner p {
  font-size: 1rem;
  margin: 15px 0 30px;
}
.hero-banner .btn {
  margin: 10px;
}

